# Supabase 설정
SUPABASE_URL=https://zttosbzbwkgqkpsdgpcx.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0dG9zYnpid2tncWtwc2RncGN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4MTMzNDQsImV4cCI6MjA3NDM4OTM0NH0.bxc9FOllQc57vlC52aO4lRE0RqxX5Uwv9TchkuYNQ08


# 예시:
# SUPABASE_URL=https://zttosbzbwkgqkpsdgpcx.supabase.co
# SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp0dG9zYnpid2tncWtwc2RncGN4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4MTMzNDQsImV4cCI6MjA3NDM4OTM0NH0.bxc9FOllQc57vlC52aO4lRE0RqxX5Uwv9TchkuYNQ08
